<style>
    #Video::-webkit-media-controls-overflow-menu {
        display: none !important;
    }

    #subtitleContainer {
        position: absolute;
        bottom: 20%;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px;
        text-align: center;
        width: 100%;
        border-radius: 5px;
    }

    .subtitle {
        font-size: 16px;
        margin: 0;
    }



    #Video {
        width: 100%;
        height: 100%;
    }

    .cus {
        color: red;
        position: absolute;
        bottom: 8%;
        right: 3%;
        border-radius: 10px;
        background-color: aliceblue;
        cursor: pointer;
        text-align: center;
        padding: 10px;
    }

    .cue-display {
        pointer-events: auto;
    }

    .cue-display {
        position: absolute !important;
        margin: 0;
        padding: 0px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        border: none !important;
        background: rgba(0, 0, 0, 0.7);
        text-align: center;
        font-family: sans-serif;
        font-size: 26px;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

        .cue-display .description-cues {
            position: absolute;
            top: -99px;
            left: -99px;
            display: block;
            width: 5px;
            height: 5px;
            overflow: hidden;
        }

        .cue-display .cue-line {
            display: block;
            padding: 4px 4px;
        }

        .cue-display .cue-line {
            padding: 0;
        }

    .cue-line:nth-child(2) {
        font-size: 80%;
        color: #f5d13f;
    }

    .sub_en {
        font-size: 16px;
        margin-bottom: 0.3em;
    }

    .sub_en, .sub_vi {
        display: inherit;
        padding-left: 0.2em;
    }

    .sub_vi {
        font-size: 15px;
    }

    .show-time-second, span.show-time-tv {
        position: absolute;
        min-width: 3em;
        right: 0.2em;
        color: #fff;
        background: rgba(0,0,0,.5);
        border-radius: 0.2em;
        height: 1.4em;
        line-height: 1.4;
        padding: 0 0.2em;
        margin-top: -1em;
        margin-right: 0.5em;
        font-size: 13px;
    }

    div.scroll-sub {
        position: relative;
        overflow-y: auto;
        height: 68%;
        background: #fff;
    }

    #video_obtion_block, div.scroll-sub {
        height: 84%;
    }

    #video_obtion_block, .jcarousel.tv-go, div#line_tra_tu_en, div#toomva-go-check2, div.modal-body, div.scroll-rbb, div.scroll-sub {
        -webkit-overflow-scrolling: touch;
    }

    .sub-line {
        padding: 6px;
    }

    .word{
        position: relative;
    }

    .word:hover {
        color: yellow;
    }

    #result {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; 
        border-bottom-right-radius: 10px; 
        border-bottom-left-radius: 10px; 
        background: #fff;
        position: absolute;
        width: 445px;
        height: auto;
        color: #000;
        top: -222px;
        text-align: left;
        visibility: hidden;
    }

</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-9" style="position: relative;">
            <video controls class="position-relative" style="width: 100%; height: auto;" id="video">
                <source src="@Model.VideoVMOj.VideoLink" type="video/mp4">
            </video>
            <div class="cue-display wsshadow-1697613594557" style="position: absolute; bottom: 50px; left: 50%; transform: translateX(-50%);  color: white; text-align: center; padding: 10px;">
                <span class="description-cues" aria-live="assertive"></span>
                <span class="cue-wrapper" id="cue-wrapper" style="font-size: 150%;">
                    <span class="cue-line">
                        <span class="cue">
                           <span class="word">This</span>
                        </span>
                    </span>
                    <div id="result">
                        <div class="">
                            <div class="d-flex" style="border-bottom: 1px solid #ccc">
                                <div>
                                    <p id="word-main"></p>
                                </div>
                                <div>
                                    <i class="fa-solid fa-volume-high" style="cursor: pointer" onclick="speakWord('word-main', 'male')"></i>
                                </div>
                            </div>
                        </div>
                        <div>
                            Nghĩa của từ:
                            <ul id="meaning-list">
                            </ul>
                        </div>
                    </div>
                    <span class="cue-line"></span>
                </span>
            </div>

        </div>

        <div class="col-3">
            <div id="DataTable" class="scroll-sub">
                @foreach (var item in Model.VideoVMOj.listTimeLine)
                {
                    <div class="sub-line" data-time="@item.TimePoint" style="cursor: pointer;">
                        <span class="sub_en">
                            @item.English
                        </span>
                        <span class="sub_vi">@item.Vietnamese</span>
                        <span class="show-time-second">@item.TimePoint</span>
                    </div>
                }
            </div>
        </div>
    </div>
   

</div>

<script>
    function speakWord(elementId, voiceName) {
        const wordElement = document.getElementById(elementId);
        const textToSpeak = wordElement.textContent;
        const msg = new SpeechSynthesisUtterance(textToSpeak);

        const voices = window.speechSynthesis.getVoices();

        const maleVoice = voices.find(voice => voice.name === voiceName);

        if (maleVoice) {
            msg.voice = maleVoice;
        }
        window.speechSynthesis.speak(msg);
    }

    const data = @Html.Raw(Json.Serialize(Model.VideoVMOj.listTimeLine));
    const video = document.getElementById("video");
    const subtitleContainer = document.querySelector("#cue-wrapper"); 

    function formatTime(seconds) {
        const hours = Math.floor(seconds / 3600);
        const minutes = Math.floor((seconds % 3600) / 60);
        const remainingSeconds = Math.floor(seconds % 60);

        const padZero = (number) => (number < 10 ? "0" : "") + number;

        return (
            padZero(hours) +
            ":" +
            padZero(minutes) +
            ":" +
            padZero(remainingSeconds)
        );
    }

    function timeToSeconds(timeString) {
        const timeParts = timeString.split(":");
        if (timeParts.length === 3) {
            const hours = parseInt(timeParts[0], 10);
            const minutes = parseInt(timeParts[1], 10);
            const seconds = parseInt(timeParts[2], 10);
            if (!isNaN(hours) && !isNaN(minutes) && !isNaN(seconds)) {
                return hours * 3600 + minutes * 60 + seconds;
            }
        }
        return 0;
    }

    video.ontimeupdate = function () {
        const currentTime = formatTime(video.currentTime);

        subtitleContainer.innerHTML = ""; 

        data.forEach((item) => {
            if (item.timePoint === currentTime) {
                const cueLine = document.createElement("span");
                cueLine.classList.add("cue-line");
                const cue = document.createElement("span");
                cue.classList.add("cue");

                item.english.split(" ").forEach((word) => {
                    const wordSpan = document.createElement("span");
                    wordSpan.classList.add("word");
                    wordSpan.textContent = word + " ";
                    cue.appendChild(wordSpan);
                });

                cueLine.appendChild(cue);

                const vietnameseCue = document.createElement("span");
                vietnameseCue.classList.add("cue-line");
                vietnameseCue.innerHTML = `<span class="cue">${item.vietnamese}</span>`;

                subtitleContainer.appendChild(cueLine);
                subtitleContainer.appendChild(vietnameseCue);
            }
        });
        const searchWords = document.querySelectorAll('.word');
        const resultElement = document.querySelectorAll('#result');
        let currentHoveredWord = '';
        function searchWord(word) {
            fetch('http://localhost:3000/tudien')
                .then(response => response.json())
                .then(data => {
                    const searchResult = data.find(item => item.word.trim() === word.trim());

                    const meaningList = document.getElementById('meaning-list');

                    if (searchResult) {
                        meaningList.innerHTML = ''; 
                        const listItem = document.createElement('li');
                        listItem.textContent = searchResult.note;
                        meaningList.appendChild(listItem);
                    } else {
                        meaningList.innerHTML = ''; 
                        const notFoundItem = document.createElement('li');
                        notFoundItem.textContent = 'Không tìm thấy từ: ' + word;
                        meaningList.appendChild(notFoundItem);
                    }
                })
                .catch(error => {
                    console.error('Lỗi khi tải dữ liệu JSON:', error);
                });
        }


        searchWords.forEach(wordElement => {
            wordElement.addEventListener('mouseenter', () => {
                const word = wordElement.textContent;
                currentHoveredWord = word;
                document.getElementById('word-main').textContent = word; 
                searchWord(word);
                resultElement.style.visibility = 'visible';
            });

            wordElement.addEventListener('mouseleave', () => {
                if (wordElement.textContent === currentHoveredWord) {
                    document.getElementById('meaning-list').innerHTML = ''; 
                    resultElement.style.visibility = 'hidden';
                }
            });

            wordElement.addEventListener('input', () => {
                const word = wordElement.textContent;
                searchWord(word);
                resultElement.style.visibility = 'hidden';
            });
        });
    };

    const subLines = document.querySelectorAll(".sub-line");

    subLines.forEach((subLine) => {
        subLine.addEventListener("click", () => {
            const time = subLine.dataset.time;
            video.currentTime = timeToSeconds(time);
        });
    });
  
</script>
