<style>
    #Video::-webkit-media-controls-overflow-menu {
        display: none !important;
    }

    #subtitleContainer {
        position: absolute;
        bottom: 20%;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px;
        text-align: center;
        width: 100%;
        border-radius: 5px;
    }

    .subtitle {
        font-size: 16px;
        margin: 0;
    }



    #Video {
        width: 100%;
        height: 100%;
    }

    .cus {
        color: red;
        position: absolute;
        bottom: 8%;
        right: 3%;
        border-radius: 10px;
        background-color: aliceblue;
        cursor: pointer;
        text-align: center;
        padding: 10px;
    }

    .cue-display {
        pointer-events: auto;
    }

    .cue-display {
        position: absolute !important;
        margin: 0;
        padding: 0px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        border: none !important;
        background: rgba(0, 0, 0, 0.7);
        text-align: center;
        font-family: sans-serif;
        font-size: 26px;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        position: absolute;
        top: 22em;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-align: center;
        padding: 10px;
    }

        .cue-display .description-cues {
            position: absolute;
            top: -99px;
            left: -99px;
            display: block;
            width: 5px;
            height: 5px;
            overflow: hidden;
        }

        .cue-display .cue-line {
            display: block;
            padding: 4px 4px;
        }

        .cue-display .cue-line {
            padding: 0;
        }

    .cue-line:nth-child(2) {
        font-size: 80%;
        color: #f5d13f;
    }

    .sub_en {
        font-size: 16px;
        margin-bottom: 0.3em;
    }

    .sub_en, .sub_vi {
        display: inherit;
        padding-left: 0.2em;
    }

    .sub_vi {
        font-size: 15px;
    }

    .show-time-second, span.show-time-tv {
        position: absolute;
        min-width: 3em;
        right: 0.2em;
        color: #fff;
        background: rgba(0,0,0,.5);
        border-radius: 0.2em;
        height: 1.4em;
        line-height: 1.4;
        padding: 0 0.2em;
        margin-top: -1em;
        margin-right: 0.5em;
        font-size: 13px;
    }

    div.scroll-sub {
        position: relative;
        overflow-y: auto;
        max-height: 47em;
        background: #fff;
    }

    #video_obtion_block, div.scroll-sub {
        height: 703px;
    }

    #video_obtion_block, .jcarousel.tv-go, div#line_tra_tu_en, div#toomva-go-check2, div.modal-body, div.scroll-rbb, div.scroll-sub {
        -webkit-overflow-scrolling: touch;
    }

    .sub-line {
        padding: 14px 8px;
        border-bottom: 1px solid #ccc;
    }

    .word {
        position: relative;
    }

        .word:hover {
            color: yellow;
        }

    #result {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background: #fff;
        position: absolute;
        width: 445px;
        height: auto;
        color: #000;
        top: -160px;
        text-align: left;
        visibility: hidden;
    }

    div.speed-list-yt {
        position: absolute;
        width: 160px;
        background: #fffacd;
        bottom: 1.5em;
        right: 4px;
        padding: 0.4em 0.8em 0.8em;
        font-size: 16px;
        z-index: 100;
        border-radius: 10px;
        border: 2px solid gray;
        color: gray;
        transform: translateY(-3%);
        transition: .1s;
        float: right;
    }

        div.speed-list-yt li {
            list-style-type: none;
        }

    .video_opt_item_title.text-center {
        padding: 16px 6px;
        font-weight: 600;
        color: gray;
        font-size: 116%;
    }

    .video_opt_item {
        display: inline-flex;
        width: 90%;
        cursor: pointer;
        color: teal;
        margin: 2% 5%;
        border-radius: 30px;
        padding-top: 2px;
    }

        .video_opt_item > div:first-of-type {
            width: 16%;
            display: flex;
            padding-top: 7px;
            padding-left: 4%;
            text-align: left;
            height: 47px;
        }

            .video_opt_item > div:first-of-type > input {
                margin-top: 0.3em;
                margin-left: 0.4em;
            }

    input.toomva_checkbox, input.toomva_radio {
        -webkit-appearance: radio;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }

    .video_opt_item > div.video_opt_item_content {
        width: 84%;
        text-align: left;
        border-left: 1.5px solid #9999;
        padding-left: 9px;
    }

    .video_opt_item_content > span:first-of-type {
        line-height: 24px;
        font-weight: 600;
    }

    .video_opt_item_content > span:last-of-type {
        height: 24px;
        color: grey;
        margin-top: -4px;
        display: flex;
    }

    .video_opt_item.group {
        cursor: unset;
    }

        .video_opt_item.group.subtitle > .video_opt_item_icon {
            margin-top: 4em;
        }

    .video_opt_item_icon > i.fa.fa-cc.fa-2x {
        font-size: 1.6em;
        margin-top: 3px;
    }

    .video_opt_item_icon > i, i.sound:hover {
        color: gray;
    }

    .video_opt_sub_item_group_opt {
        cursor: pointer;
        height: 24px;
        margin-bottom: 5px;
        margin-right: 24px;
        border-radius: 12px;
        width: 226px;
    }

        .video_opt_sub_item_group_opt > input {
            height: 15px;
            margin-top: 4px;
        }

    span.video_opt_sub_item_content_desc {
        position: absolute;
        margin-left: 5px;
    }

    a.btn-episode {
        margin: 3px;
        width: 34px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        border: 1px solid #ccc;
    }

    .text-both {
        font-size: 16px;
        font-weight: bold;
    }

    div#line_tra_tu_en {
        width: 100%;
        display: inline-flex;
        padding: 10px;
        background: orange;
        color: #fff;
        font-size: 22px;
        overflow-x: scroll;
        border-bottom: 2px solid #228b22;
    }

    span.word_tra_tu {
        padding: 0.2em 0.4em;
        border: 1px solid;
        margin-left: 0.2em;
        cursor: pointer;
        white-space: nowrap;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-xl-9" style="position: relative;">

            <video controls style="width: 100%; height: auto;" id="video">
                <source src="@Model.VideoVMOj.VideoMain.VideoLink" type="video/mp4">
            </video>


            <div class="cue-display wsshadow-1697613594557" style="">
                <span class="description-cues" aria-live="assertive"></span>
                <span class="cue-wrapper" id="cue-wrapper" style="font-size: 150%;">
                    <span class="cue-line">
                        <span class="cue">
                        </span>
                    </span>

                    <span class="cue-line"></span>
                </span>
                <div id="result">
                    <div class="">
                        <div class="d-flex" style="border-bottom: 1px solid #ccc">
                            <div>
                                <p id="word-main"></p>
                            </div>
                            <div>
                                <i class="fa-solid fa-volume-high" style="cursor: pointer" onclick="speakWord('word-main', 'male')"></i>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="loading">
                        </div>
                        Nghĩa của từ:
                        <ul id="meaning-list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-xl-3">
            <div class="botom-scroll-sub-top noselect text-center" id="nav-tab" role="tablist">
                <span class="title-scroll mobile-only" id="che_do_tra_tu">Tra từ</span>
                <span id="video_obtion" style="">
                    Chức năng
                </span>
            </div>
            <div id="line_tra_tu">
                <div id="line_tra_tu_en">
                </div>
            </div>
            <div id="DataTable" class="scroll-sub">
                @foreach (var item in Model.VideoVMOj.listTimeLine)
                {
                    <div class="sub-line" data-time="@item.TimePoint" style="cursor: pointer;" data-index="@(Model.VideoVMOj.listTimeLine.IndexOf(item))">
                        <span class="sub_en">@item.English</span>
                        <span class="sub_vi">@item.Vietnamese</span>
                        <span class="show-time-second">@item.TimePoint</span>
                    </div>
                }
            </div>
            <div id="configVideo" class="scroll-sub">
                <div class="video_opt_item_title text-center"> <span>Chức năng hỗ trợ học tiếng Anh</span> </div>
                <div class="video_opt_item copy-ensub">
                    <div class="video_opt_item_icon"> <i class="fa-regular fa-copy"></i> </div>
                    <div class="video_opt_item_content">
                        <span class="video_opt_item_content_main">Copy Sub Anh</span>
                        <span class="video_opt_item_content_desc">Lưu phụ đề tiếng Anh về máy</span>
                    </div>

                </div>
                <div class="video_opt_item copy-visub">
                    <div class="video_opt_item_icon"><i class="fa-regular fa-copy"></i> </div>
                    <div class="video_opt_item_content">
                        <span class="video_opt_item_content_main">Copy Sub Việt</span>
                        <span class="video_opt_item_content_desc">Lưu phụ đề tiếng Việt về máy</span>
                    </div>
                </div>
                <hr />
                <div class="video_opt_item auto_prev_opt_item">
                    <div class="video_opt_item_icon"> <input type="checkbox" class="toomva_radio" name="auto_next" id="AutoPrev" onclick="toggleVideoLoop()"> </div>
                    <div class="video_opt_item_content">
                        <span class="video_opt_item_content_main">
                            Play lặp
                            lại
                        </span> <span class="video_opt_item_content_desc">
                            Play lặp lại từ đầu khi hết
                            video
                        </span>
                    </div>
                </div>
                <hr />
                <div class="video_opt_item group subtitle">
                    <div class="video_opt_item_icon">
                        <i class="fa-solid fa-closed-captioning"></i>
                    </div>
                    <div class="video_opt_item_content">
                        <span class="video_opt_item_content_main">
                            Phụ
                            đề
                        </span> <span class="video_opt_item_content_desc">
                            Tuỳ chọn phụ đề trong
                            video
                        </span>
                        <div class="video_opt_item_group_opt">
                            <div class="video_opt_sub_item_group_opt">
                                <input type="radio" class="toomva_radio" name="choosesub" id="cs_1" value="none"> <span class="video_opt_sub_item_content_desc">
                                    Tắt                                                     <span class="sub_keycode_des">
                                    </span>
                                </span>
                            </div>
                            <div class="video_opt_sub_item_group_opt">
                                <input type="radio" class="toomva_radio" name="choosesub" id="cs_2" value="english"> <span class="video_opt_sub_item_content_desc">
                                    Tiếng Anh                                                     <span class="sub_keycode_des">
                                    </span>
                                </span>
                            </div>
                            <div class="video_opt_sub_item_group_opt">
                                <input type="radio" class="toomva_radio" name="choosesub" id="cs_3" value="vietnamese"> <span class="video_opt_sub_item_content_desc">
                                    Tiếng Việt                                                     <span class="sub_keycode_des">
                                    </span>
                                </span>
                            </div>
                            <div class="video_opt_sub_item_group_opt">
                                <input type="radio" checked class="toomva_radio" name="choosesub" id="cs_4" value="both"> <span class="video_opt_sub_item_content_desc">
                                    Hiển thị cả 2                                                     <span class="sub_keycode_des">
                                    </span>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="botom-scroll-sub" style="width:100%;color:#fff;">
                <span class="info-video-mobile tv previous-subline-mobile noselect">
                    <a style="cursor:pointer" id="pre-video">
                        &lt;&lt;
                    </a>
                </span> <span class="info-video-mobile tv next-subline-mobile noselect">
                    <a style="cursor:pointer" id="next-video">
                        &gt;&gt;
                    </a>
                </span>
                <span class="info-video-mobile tv play-pause-moble noselect" id="playVideo">Play</span>
                @* <span class="info-video-mobile tv speed-menu noselect">
                Tốc độ
                <div class="speed-list-yt">
                <li class="title-menu">Speed</li>
                <li class="speed-type" role="presentation">
                <input id="speed-1" type="radio" name="radioName" value="2.0"> 2.0
                </li>
                <li class="speed-type" role="presentation">
                <input id="speed-2" type="radio" name="radioName" value="1.5"> 1.5
                </li>
                <li class="speed-type" role="presentation"><input id="speed-3" type="radio" name="radioName" value="1.25"> 1.25</li>
                <li class="speed-type" role="presentation">
                <input id="speed-4" type="radio" name="radioName" value="1.0"> 1.0
                </li>
                <li class="speed-type" role="presentation">
                <input id="speed-5" type="radio" name="radioName" value="0.75"> 0.75
                </li>
                <li class="speed-type" role="presentation">
                <input id="speed-6" type="radio" name="radioName" value="0.5"> 0.5
                </li>
                <li class="speed-type" role="presentation"><input id="speed-7" type="radio" name="radioName" value="0.25"> 0.25</li>
                </div>
                </span>*@
                <div class="mediamenu speed-menu ">
                    <div style=" font-weight: 600; margin-bottom: .8em; border-bottom: 1px solid; text-align: center; ">
                        <a id="toggleSpeed" style="cursor: pointer">
                            Tốc độ

                        </a>
                    </div>

                    <div class="speed-list-yt">
                        <li class="title-menu">Tốc độ phát</li>
                        <li class="speed-type" role="presentation">
                            <input id="speed-1" type="radio" name="radioName" value="2.0"> 2.0
                        </li>
                        <li class="speed-type" role="presentation">
                            <input id="speed-2" type="radio" name="radioName" value="1.5"> 1.5
                        </li><li class="speed-type" role="presentation">
                            <input id="speed-3" type="radio" name="radioName" value="1.25"> 1.25
                        </li><li class="speed-type" role="presentation"><input id="speed-4" type="radio" name="radioName" value="1.0"> 1.0</li><li class="speed-type" role="presentation">
                            <input id="speed-5" type="radio" name="radioName" value="0.75"> 0.75
                        </li><li class="speed-type" role="presentation">
                            <input id="speed-6" type="radio" name="radioName" value="0.5"> 0.5
                        </li> <li class="speed-type" role="presentation">
                            <input id="speed-7" type="radio" name="radioName" value="0.25"> 0.25
                        </li>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-xl-9" style="position: relative;">
            <div class="mt-3 p-3 bg-white">
                <div class="mb-4 d-flex flex-row align-items-center" style="border-bottom: 1px solid #ccc">
                    <div class="text-both">
                        Tập:
                    </div>
                    @foreach (var items in Model.VideoVMOj.listDataMain)
                    {
                        <div>
                            <a class="btn  btn-episode" href="/video/@ViewBag.Slug?id=@Model.VideoVMOj.Id&episode=@items.EpisodeNumber">@items.EpisodeNumber</a>
                        </div>
                    }

                </div>

            </div>
            <div class="mt-3 p-3 bg-white">
                <div class="mb-4" style="border-bottom: 1px solid #ccc">
                    <h5>@Model.VideoVMOj.Name</h5>
                    <h5>@Model.VideoVMOj.NameVn</h5>
                    <p>
                        @Model.VideoVMOj.ViewCount lượt xem
                    </p>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <img class="image-user-avatar" src="~/upload/avatar/blank_avatar.png" width="48" />
                    </div>
                    <div>
                        Admin
                        <p>Ngày đăng: @Model.VideoVMOj.CreatedDate</p>
                        <div class="p-3">
                            @Html.Raw(Model.VideoVMOj.Description)
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 col-md-12 col-xl-3">
            <div class="mt-3 search-video-total">
                @foreach (var itemMain in Model.VideoData)
                {

                    <div class="d-flex flex-row mt-2" style="border-bottom: 1px solid #ccc">
                        <div class="search-video-img single">
                            <a href="/video/@itemMain.Slug?id=@itemMain.Id" class="video-for-list-related">
                                <img src="@itemMain.Img">
                            </a>
                        </div>
                        <div class="">
                            <a href="/video/@itemMain.Slug?id=@itemMain.Id">
                                <h4 class="eng-title-2">
                                    @itemMain.NameVn
                                </h4>
                                <h5 class="eng-title-2">
                                    @itemMain.Name
                                </h5>
                            </a>
                            <div class="search-view-time single">
                                <span class="search-views single">
                                    @itemMain.ViewCount
                                    lượt xem
                                </span> <span class="flag single">
                                    <img src="~/upload/avatar/suben.png" style="width:20px;height:10px" data-toggle="tooltip" title="" data-original-title="Có phụ đề Anh">
                                    <img src="~/upload/avatar/subvi.png" style="width:20px;height:10px" data-toggle="tooltip" title="" data-original-title="Có phụ đề Việt">
                                </span>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>


    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-inline-flex align-items-center">
                        <p id="click-word"></p>
                        <i class="fa-solid fa-volume-high" style="cursor: pointer;" onclick="speakWordModal('click-word', 'male')"></i>

                    </div>
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="loading">
                    </div>
                    <p>
                        Nghĩa của từ:
                        <ul id="meaning-click">
                        </ul>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function speakWordModal(elementId, voiceName) {
        const wordElement = document.getElementById(elementId);
        const textToSpeak = wordElement.textContent;
        const msg = new SpeechSynthesisUtterance(textToSpeak);

        const voices = window.speechSynthesis.getVoices();

        const maleVoice = voices.find(voice => voice.name === voiceName);

        if (maleVoice) {
            msg.voice = maleVoice;
        }
        window.speechSynthesis.speak(msg);
    }
    function speakWord(elementId, voiceName) {
        const wordElement = document.getElementById(elementId);
        const textToSpeak = wordElement.textContent;
        const msg = new SpeechSynthesisUtterance(textToSpeak);

        const voices = window.speechSynthesis.getVoices();

        const maleVoice = voices.find(voice => voice.name === voiceName);

        if (maleVoice) {
            msg.voice = maleVoice;
        }
        window.speechSynthesis.speak(msg);
    }
    document.addEventListener("DOMContentLoaded", function () {
        function displayWordMeaning(word) {
            // Hiển thị modal
            $('#exampleModal').modal('show');

            // Hiển thị từ được nhấp vào modal
            $('#click-word').text(word);

            // Hiển thị biểu tượng nạp
            $('.loading').fadeIn();

            fetch('/tudien')
                .then(response => response.json())
                .then(data => {
                    // Ẩn biểu tượng nạp
                    $('.loading').fadeOut();

                    const searchResult = data.tudien.find(item => item.word.trim() === word.trim());
                    const meaningList = document.getElementById('meaning-click');

                    if (searchResult) {
                        meaningList.innerHTML = '';
                        const listItem = document.createElement('li');
                        listItem.textContent = searchResult.note;
                        meaningList.appendChild(listItem);
                    } else {
                        meaningList.innerHTML = '';
                        const notFoundItem = document.createElement('li');
                        notFoundItem.textContent = 'Không tìm thấy từ: ' + word;
                        meaningList.appendChild(notFoundItem);
                    }
                })
                .catch(error => {
                    console.error('Lỗi khi tải dữ liệu JSON:', error);
                });

        }

        $("#che_do_tra_tu").click(function () {
            if ($("#line_tra_tu").is(":visible")) {
                $("#line_tra_tu").hide();
                $("#che_do_tra_tu").text("Tra từ");
            } else {
                $("#line_tra_tu").show();
                $("#che_do_tra_tu").text("Đóng");
            }
        });

        function toggleVideoLoop() {
            var video = document.getElementById('video');
            var checkbox = document.getElementById('AutoPrev');
            video.loop = checkbox.checked;
        }
        $('.video_opt_item.copy-ensub').click(function () {
            var copiedText = '';

            $('#DataTable .sub_en').each(function () {
                copiedText += $(this).text() + '\n';
            });

            navigator.clipboard.writeText(copiedText).then(function () {
                alert("Nội dung đã được sao chép");
            });
        });
        $('.video_opt_item.copy-visub').click(function () {
            var copiedText = '';

            $('#DataTable .sub_vi').each(function () {
                copiedText += $(this).text() + '\n';
            });

            navigator.clipboard.writeText(copiedText).then(function () {
                alert("Nội dung đã được sao chép");
            });
        });

        var videoObtion = $('#video_obtion');
        var dataTable = $('#DataTable');
        var configVideo = $('#configVideo');

        configVideo.hide();

        videoObtion.click(function () {
            if (configVideo.is(':hidden')) {
                configVideo.show();
                dataTable.hide();
                videoObtion.text('Đóng');
            } else {
                configVideo.hide();
                dataTable.show();
                videoObtion.text('CHỨC NĂNG');
            }
        });
        var toggleSpeed = $('#toggleSpeed');
        // Tìm phần nội dung "Speed".
        var speedList = $('.speed-list-yt');

        speedList.hide();

        toggleSpeed.click(function () {
            speedList.slideToggle();
        });


        const data = @Html.Raw(Json.Serialize(Model.VideoVMOj.listTimeLine));
        const video = document.getElementById("video");
        const subtitleContainer = document.querySelector("#cue-wrapper");

        const subTraTu = document.querySelector("#line_tra_tu_en");

        function formatTime(seconds) {
            const hours = Math.floor(seconds / 3600);
            const minutes = Math.floor((seconds % 3600) / 60);
            const remainingSeconds = Math.floor(seconds % 60);

            const padZero = (number) => (number < 10 ? "0" : "") + number;

            return (
                padZero(hours) +
                ":" +
                padZero(minutes) +
                ":" +
                padZero(remainingSeconds)
            );
        }

        function timeToSeconds(timeString) {
            const timeParts = timeString.split(":");
            if (timeParts.length === 3) {
                const hours = parseInt(timeParts[0], 10);
                const minutes = parseInt(timeParts[1], 10);
                const seconds = parseInt(timeParts[2], 10);
                if (!isNaN(hours) && !isNaN(minutes) && !isNaN(seconds)) {
                    return hours * 3600 + minutes * 60 + seconds;
                }
            }
            return 0;
        }
        function toggleSubtitle(language) {
            video.ontimeupdate = function () {
                const currentTime = formatTime(video.currentTime);

                subtitleContainer.innerHTML = "";
                subTraTu.innerHTML = "";
                data.forEach((item) => {
                    if (item.timePoint === currentTime) {
                        const cueLine = document.createElement("span");
                        cueLine.classList.add("cue-line");
                        const cue = document.createElement("span");
                        cue.classList.add("cue");

                        if (language === 'english' || language === 'both') {
                            item.english.split(" ").forEach((word) => {
                                const wordSpan = document.createElement("span");
                                wordSpan.classList.add("word");
                                wordSpan.textContent = word + " ";
                                cue.appendChild(wordSpan);
                            });
                        }

                        cueLine.appendChild(cue);

                        if (language === 'vietnamese' || language === 'both') {
                            const vietnameseCue = document.createElement("span");
                            vietnameseCue.classList.add("cue-line");
                            vietnameseCue.innerHTML = `<span class="cue">${item.vietnamese}</span>`;
                            cueLine.appendChild(vietnameseCue);
                        }

                        subtitleContainer.appendChild(cueLine);


                        item.english.split(" ").forEach((word) => {
                            const listTraTu = document.createElement("span")
                            listTraTu.classList.add("word_tra_tu")
                            listTraTu.textContent = word + " ";
                            //listTraTu.setAttribute("data-bs-toggle", "modal");
                            //listTraTu.setAttribute("data-bs-target", "#exampleModal");
                            listTraTu.addEventListener("click", function () {
                                displayWordMeaning(word);
                            });
                            subTraTu.appendChild(listTraTu);
                        });
                    }
                });
                const searchWords = document.querySelectorAll('.word');
                const resultElement = document.getElementById('result');
                let currentHoveredWord = '';

                function searchWord(word) {
                    $('.loading').fadeIn();
                    fetch('/tudien')
                        .then(response => response.json())
                        .then(data => {
                            $('.loading').fadeOut();

                            const searchResult = data.tudien.find(item => item.word.trim() === word.trim());

                            const meaningList = document.getElementById('meaning-list');

                            if (searchResult) {
                                meaningList.innerHTML = '';
                                const listItem = document.createElement('li');
                                listItem.textContent = searchResult.note;
                                meaningList.appendChild(listItem);
                            } else {
                                meaningList.innerHTML = '';
                                const notFoundItem = document.createElement('li');
                                notFoundItem.textContent = 'Không tìm thấy từ: ' + word;
                                meaningList.appendChild(notFoundItem);
                            }
                        })
                        .catch(error => {
                            console.error('Lỗi khi tải dữ liệu JSON:', error);
                        });
                }

                searchWords.forEach(wordElement => {
                    wordElement.addEventListener('mouseenter', () => {
                        const word = wordElement.textContent;
                        currentHoveredWord = word;
                        document.getElementById('word-main').textContent = word;
                        searchWord(word);
                        resultElement.style.visibility = 'visible';
                    });


                });
                resultElement.addEventListener('mouseleave', () => {
                    resultElement.style.visibility = 'hidden';
                });

            };
        }
        $('input[type="radio"]').change(function () {
            if ($(this).is(":checked")) {
                var selectedValue = $(this).val();
                toggleSubtitle(selectedValue);
            }
        });


        var defaultCheckedRadio = $('input[type="radio"]:checked');
        var defaultValue = defaultCheckedRadio.val();

        toggleSubtitle(defaultValue);
        function convertTimeToSeconds(time) {
            const parts = time.split(':');
            return (
                parseInt(parts[0]) * 3600 +
                parseInt(parts[1]) * 60 +
                parseInt(parts[2])
            );
        }
        const subContainer = document.querySelector('.scroll-sub');
        const subLines = document.querySelectorAll(".sub-line");
        video.addEventListener('timeupdate', () => {
            const currentTime = video.currentTime;

            subLines.forEach(subLine => {
                const dataTime = subLine.getAttribute('data-time');
                const dataTimeInSeconds = convertTimeToSeconds(dataTime);

                if (Math.abs(dataTimeInSeconds - currentTime) < 0.5) {
                    subLine.style.backgroundColor = '#ccc';
                    subLine.style.opacity = '1.5';
                    subLine.style.fontWeight = '700';

                    subContainer.scrollTo({
                        top: subLine.offsetTop - subContainer.offsetTop,
                        behavior: 'smooth'
                    });
                } else {
                    subLine.style.backgroundColor = 'initial';
                    subLine.style.opacity = 'initial';
                    subLine.style.fontWeight = 'initial';
                }
            });
        });
        subLines.forEach((subLine) => {
            subLine.addEventListener("click", () => {
                const time = subLine.dataset.time;
                video.currentTime = timeToSeconds(time);
            });
        });
        let currentIndex = 0;


        // Lùi về
        document.querySelector(".previous-subline-mobile").addEventListener("click", function () {
            if (currentIndex > 0) {
                currentIndex--;
                updateSubline();
            }
        });

        // Tăng lên
        document.querySelector(".next-subline-mobile").addEventListener("click", function () {

            if (currentIndex < subLines.length - 1) {
                currentIndex++;
                updateSubline();
            }
        });

        function updateSubline() {
            const subLine = subLines[currentIndex];
            const time = subLine.dataset.time;

            video.currentTime = timeToSeconds(time);
        }
        const playPauseButton = document.getElementById("playVideo");

        playPauseButton.addEventListener("click", function () {
            if (video.paused) {
                video.play();
                playPauseButton.textContent = "Pause";
            } else {
                video.pause();
                playPauseButton.textContent = "Play";
            }
        });

        function timeToSeconds2(timeString) {
            const timeParts = timeString.split(":");
            if (timeParts.length === 3) {
                const hours = parseInt(timeParts[0], 10);
                const minutes = parseInt(timeParts[1], 10);
                const seconds = parseInt(timeParts[2], 10);
                if (!isNaN(hours) && !isNaN(minutes) && !isNaN(seconds)) {
                    return hours * 3600 + minutes * 60 + seconds;
                }
            }
            return 0; // Giá trị mặc định nếu định dạng không hợp lệ
        }
        const speedList2 = document.querySelectorAll('.speed-type input[name="radioName"]');

        // Xử lý sự kiện khi thay đổi tốc độ
        speedList2.forEach(input => {
            input.addEventListener('change', () => {
                const speed = parseFloat(input.value);
                video.playbackRate = speed;
                const currentTime = video.currentTime;
                const adjustedTimeInSeconds = currentTime / speed;
                const currentTimeMain = formatTime(adjustedTimeInSeconds);

                adjustSubtitleDisplay(currentTimeMain);
            });
        });

        function adjustSubtitleDisplay(newTime) {
            // Xóa tất cả phụ đề hiện tại
            video.ontimeupdate = function () {

                const speed = video.playbackRate;
                const adjustedTime = currentTime / speed;
                const currentTimeMain = formatTime(adjustedTime);

                subtitleContainer.innerHTML = '';
                data.forEach((item) => {
                    if (item.timePoint === currentTimeMain) {
                        const cueLine = document.createElement("span");
                        cueLine.classList.add("cue-line");
                        const cue = document.createElement("span");
                        cue.classList.add("cue");

                        if (language === 'english' || language === 'both') {
                            item.english.split(" ").forEach((word) => {
                                const wordSpan = document.createElement("span");
                                wordSpan.classList.add("word");
                                wordSpan.textContent = word + " ";
                                cue.appendChild(wordSpan);
                            });
                        }

                        cueLine.appendChild(cue);

                        if (language === 'vietnamese' || language === 'both') {
                            const vietnameseCue = document.createElement("span");
                            vietnameseCue.classList.add("cue-line");
                            vietnameseCue.innerHTML = `<span class="cue">${item.vietnamese}</span>`;
                            cueLine.appendChild(vietnameseCue);
                        }

                        subtitleContainer.appendChild(cueLine);
                    }
                });
            }
        }
    });


</script>
